<div class="container">
    <h2>Validation du ticket {{data.name}}</h2>
    <form [formGroup]="validationTicket" (ngSubmit)="submit()">
        <label for="ChooseTicket">Faites votre choix</label>
        <select id="ChooseTicket" formControlName="choice">
            <option value="" selected>-- choisir une option --</option>
            <option value="Refuse">Refusé</option>
            <option value="Accepte">Accepté</option>
        </select>
        <div class="buttons">
            <button class="button button-secondary" type="button" (click)="close()">Retour</button>
            <button class="button button-primary" type="submit">Envoyé</button>
        </div>
        
    </form>
    
</div>
