<div>
    <body>
        <div class="containerAdmin">
            <div class="headerAdmin">
                <h2>Actions</h2>
            </div>
            <div class="button-containerAdmin">
                <button class="action-buttonAdmin" routerLink="/home/Users">Gerer les utilisateurs</button>
                <button class="action-buttonAdmin" routerLink="/home/AddMaterials">Création d'un matériel</button>
            </div>
        </div>
            
        <div class="containerBlue">
            <div class="headerBlue">
                <img src="assets/images/MD.png" alt="Icon Matériels" class="icon">
                <h2>Les matériels</h2>
            </div>
            <form>
                <label for="filtre">Filtre</label>
                <select id="filtre" (change)="filtre($event)">
                    <option value="" selected>Pas de filtre</option>
                    <option value="ordinateur">Ordinateur</option>
                    <option value="imprimante">Imprimante</option>
                    <option value="meuble">Meuble</option>
                </select>
            </form>
            <div class="content">
                <table class="material-tableBlue">
                    <thead>
                        <tr>
                            <th>Nom du matériel</th>
                            <th>Type</th>
                            <th>Disponiblité</th>
                            <th>Salle</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataAllMaterials">
                            <td>{{item.nom_m}}</td>
                            <td>{{item.type_m}}</td>
                            <td>{{item.reserve_par}}</td>
                            <td>{{item.salle}}</td>
                            <td>
                                <button (click)="deleteMaterial(item.nom_m)">Supprimer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="containerRed">
            <div class="headerRed">
                <img src="assets/images/HT.png" alt="Icon Matériels" class="icon">
                <h2>Historique des tickets</h2>
            </div>
            <div class="content">
                <table class="material-tableRed">
                    <thead>
                        <tr>
                            <th>Nom du matériel concerné</th>
                            <th>Type</th>
                            <th>Etat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of dataTickets">
                            <td>{{item.materiel_nom}}</td>
                            <td>{{item.type_d}}</td>
                            <td (click)="popUp(item._id)">
                                <ng-container *ngIf="item.etats_d === 'Accepte'">
                                    <img src="assets/images/Valide.png" alt="Retour matériel" class="action-icon">
                                </ng-container>
                                <ng-container *ngIf="item.etats_d === 'EnAttente'">
                                    <img src="assets/images/Attente.png" alt="Retour matériel" class="action-icon">
                                </ng-container>
                                <ng-container *ngIf="item.etats_d === 'Refuse'">
                                    <img src="assets/images/refuse.png" alt="Retour matériel" class="action-icon">
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="legendRed">
                    <div class="legend-headerRed">Légende</div>
                    <div class="legend-content">
                        <img src="assets/images/Valide.png" alt="Retour matériel" class="legend-icon"> Validé
                        <img src="assets/images/Attente.png" alt="Retour matériel" class="legend-icon"> En attente  
                        <img src="assets/images/refuse.png" alt="Retour matériel" class="legend-icon"> Refusé
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>


    </footer>

</div>