<div>
    <body>
        <div class="container">
            <div class="header">
                <img src="assets/images/MR.png" alt="Icon Matériels" class="icon">
                <h2>Mes matériels réservés</h2>
            </div>
            <div class="content">
                <table class="material-table">
                    <thead>
                        <tr>
                            <th>Nom du matériel</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HP-GAMING-01</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/Arrow.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-02</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/Arrow.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-03</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/Arrow.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-04</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/Arrow.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-05</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/Arrow.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="legend">
                    <div class="legend-header">Légende</div>
                    <div class="legend-content">
                        <img src="assets/images/Arrow.png" alt="Retour matériel" class="legend-icon"> Retour matériel
                    </div>
                </div>
            </div>
        </div>
        <div class="containerBlue">
            <div class="headerBlue">
                <img src="assets/images/MD.png" alt="Icon Matériels" class="icon">
                <h2>Les matériels disponibles</h2>
            </div>
            <div class="content">
                <table class="material-tableBlue">
                    <thead>
                        <tr>
                            <th>Nom du matériel</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HP-GAMING-01</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/ReverseArrow.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-02</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/ReverseArrow.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-03</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/ReverseArrow.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-04</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/ReverseArrow.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-05</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/ReverseArrow.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="legendBlue">
                    <div class="legend-headerBlue">Légende</div>
                    <div class="legend-content">
                        <img src="assets/images/ReverseArrow.png" alt="Retour matériel" class="legend-icon"> Demande matériel
                    </div>
                </div>
            </div>
        </div>
        <div class="containerRed">
            <div class="headerRed">
                <img src="assets/images/HT.png" alt="Icon Matériels" class="icon">
                <h2>Historique des tickets</h2>
            </div>
            <div class="content">
                <table class="material-tableRed">
                    <thead>
                        <tr>
                            <th>Nom du matériel concerné</th>
                            <th>Commentaire</th>
                            <th>Etat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HP-GAMING-01</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/Valide.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-02</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/Attente.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-03</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/refuse.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-04</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/Valide.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                        <tr>
                            <td>HP-GAMING-05</td>
                            <td>Ordinateur</td>
                            <td><img src="assets/images/refuse.png" alt="Retour matériel" class="action-icon"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="legendRed">
                    <div class="legend-headerRed">Légende</div>
                    <div class="legend-content">
                        <img src="assets/images/Valide.png" alt="Retour matériel" class="legend-icon"> Validé
                        <img src="assets/images/Attente.png" alt="Retour matériel" class="legend-icon"> En attente  
                        <img src="assets/images/refuse.png" alt="Retour matériel" class="legend-icon"> Refusé
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>


    </footer>

</div>