* {
    margin: 0;
    font-family: Arial, sans-serif;
}

.containerAdmin {
    border: 2px solid #4CAF50;
    border-radius: 10px;
    width: 93%;
    background-color: white;
    margin: auto;
    margin-top: 1%;
}

.headerAdmin {
    background-color: #4CAF50;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
}

.headerAdmin h2 {
    color: white;
    margin: 0;
}

.button-containerAdmin {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.action-buttonAdmin {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-buttonAdmin:hover {
    background-color: #45a049;
}

.container {
    border: 2px solid #FFA500;
    border-radius: 8px;
    padding: 10px;
    max-width: 90%;
    margin: 20px auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: #FFA500;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.header .icon {
    height: 30px;
    margin-right: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.material-table {
    width: 100%;
    border-collapse: collapse;
}

.material-table th, .material-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.material-table th {
    background-color: #FFA500;
    color: white;
}

.material-table td {
    background-color: #fff;
    text-align: center;
}

.material-table td .action-icon {
    width: 30%;
}

.legend {
    width: 25%;
    background-color: #f0f0f0;
    border: 1px solid #FFA500;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.legend-header {
    background-color: #FFA500;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 5px;
}

.legend-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.legend-icon {
    width: 20%;
    margin-right: 5px;
}