<div>
    <body>
        <div class="containerAdmin">
            <div class="headerAdmin">
                <h2>Actions</h2>
            </div>
            <div class="button-containerAdmin">
                <button class="action-buttonAdmin" routerLink="/home">Retour</button>
                <button class="action-buttonAdmin" routerLink="/home/Users/Add">Créer un utilisateur</button>
            </div>
        </div>
        <div class="container">
            <div class="header">
                <img src="assets/images/MR.png" alt="Icon Matériels" class="icon">
                <h2>Les utilisateurs</h2>
            </div>
            <div class="content">
                <table class="material-table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{item.pseudo_u}}</td>
                            <td>{{item.role_u}}</td>
                            <td>
                                <button (click)="editItem(item)">Edit</button>
                                <button (click)="deleteItem(item.pseudo_u)">Supprimer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="legend">
                    <div class="legend-header">Légende</div>
                    <div class="legend-content">
                        <img src="assets/images/Arrow.png" alt="Retour matériel" class="legend-icon"> Retour matériel
                    </div>
                </div>
            </div>
        </div>
    </body>
</div>