<div class="popup-container">
  <div class="popup">
      <h2>Demande de {{data.request}} {{data.name}}</h2>
      <form [formGroup]="addDemandeForm" (ngSubmit) = "submit()">
          <div class="form-group" *ngIf="data.request === 'Attribution'">
            <label for="room-number">Numéro de la salle</label>
            <input type="text" id="room-number" name="room-number" formControlName="salle">
          </div>
          <div class="buttons">
              <button class="button button-secondary" (click)="close()" type="button">Retour</button>
              <button class="button button-primary" type="submit">Envoyer</button>
          </div>
      </form>
      
  </div>
</div>