<header *ngIf="isExistLocalStorageValue('name')">
    <div class="logo">
        <img src="assets/images/Logoupjv-bleu.png" alt="Logo Université de Picardie Jules Verne">
        <span>Gestion <br> <i>Matériels</i></span>
    </div>
    <div class="user-info">
        <span>Bienvenue {{Name}}</span>
        <nav>
            <a routerLink="/home/profil/{{Name}}"><img src="assets/images/personne.png" alt="Profil"> Profil</a>
            <a href="" (click) = "Deco()"><img src="assets/images/deco.png" alt="Déconnexion"> Déconnexion</a>
        </nav>
    </div>
</header>
<body>
    <router-outlet></router-outlet>
</body>
