<div>
    <body>
        <nav>
            <a routerLink="/home">Retour</a>
        </nav>
        <div class="container">
            <div class="header">
                <img src="assets/images/Profil.png" alt="Icon Matériels" class="icon">
                <h2>Création d'un matériel</h2>
            </div>
            <form>
                <div class="Field">
                    <h3>Nom du matériel</h3>
                    <input type="text"/>
                </div>
                <div class="Field">
                    <h3>Description</h3>
                    <input type="text"/>
                </div>
                <div class="Field">
                    <h3>Catégorie</h3>
                    <select>
                        <option value="ordinateur">Ordinateur</option>
                        <option value="meuble">Meuble</option>
                    </select>
                </div>
                <input type="submit" class="button" value="Créer"/>
            </form>
        </div>
    </body>
</div>