<div>
    <body>
        <a routerLink="/home" class="Retour">Retour</a>
        <div class="container">
            <div class="header">
                <img src="assets/images/Profil.png" alt="Icon Matériels" class="icon">
                <h2>Mon profil</h2>
            </div>
            <form [formGroup]="EditUserForm" (ngSubmit) = "onSubmit()">
                <div class="Field">
                    <h3>Mot de passe</h3>
                    <input type="text" formControlName="mdp"/>
                </div>
                <input type="submit" class="button" value="Modifier le profil"/>
            </form>
            
            
        </div>
    </body>
</div>