<div>
    <header>
        <div class="logo">
            <img src="assets/images/Logoupjv-bleu.png" alt="Logo Université de Picardie Jules Verne">
            <span>Gestion <br> <i>Matériels</i></span>
        </div>
        <div class="user-info">
            <span>Bienvenue {{Name}}</span>
            <nav>
                <a routerLink="/home/profil"><img src="assets/images/personne.png" alt="Profil"> Profil</a>
                <a href="#deconnexion"><img src="assets/images/deco.png" alt="Déconnexion"> Déconnexion</a>
            </nav>
        </div>
    </header>
    <body>
        <nav>
            <a routerLink="/home/Users">Retour</a>
        </nav>
        <div class="container">
            <div class="header">
                <img src="assets/images/Profil.png" alt="Icon Matériels" class="icon">
                <h2>Créer un utilisateur</h2>
            </div>
            <form>
                <div class="Field">
                    <h3>Login</h3>
                    <input type="text"/>
                </div>
                <div class="Field">
                    <h3>Mot de passe</h3>
                    <input type="text"/>
                </div>
                <div class="Field">
                    <h3>Role :</h3>
                    <select>
                        <option value="utilisteur">Utilisateur</option>
                        <option value="admin">Administrateur</option>
                    </select>
                </div>
                <input type="submit" class="button" value="Ajouter"/>
            </form>
        </div>
    </body>
</div>