<html>
    <body>
        <div class="background"></div>
        <div class="login-container">
            <div class="login-form">
                <img src="assets/images/Logoupjv-bleu.png" alt="Université de Picardie Jules Verne" class="logo">
                <form>
                    <div class="input-group">
                        <label for="username">Identifiant</label>
                        <input type="text" id="username" name="username" placeholder="Identifiant" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="password" placeholder="Mot de passe" required>
                    </div>
                    <button type="submit" class="login-button">Connexion</button>
                </form>
            </div>
        </div>
    </body>
</html>